<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/cbdf8371-84f7-4e71-b695-08e7c24ef1e0/resourceGroups/snehal-angular-rg-1/providers/Microsoft.Web/sites/RazorAppSnehal1</ResourceId>
    <ResourceGroup>snehal-angular-rg-1</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://razorappsnehal1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>razorappsnehal1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RazorAppSnehal1</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RazorAppSnehal1</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>